@import "media.scss";
@import "header.scss";
@import "cards.scss";
@import "card.scss";
@import "footer.scss";
@import "helper.scss";
@import "pagination.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000 url("/img/bg.jpg") no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.search {
  height: 100px;
}

input[type="text"] {
  display: block;
  padding: 10px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  width: 60%;
  margin: auto;
}
